<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Novel Corona Virus COVID-19 Live Tracker Web Application</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
.bs-example {
	margin: 20px;
}

.accordion .fa {
	margin-right: 0.5rem;
}

.my-custom-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
}

.table-wrapper-scroll-y {
	display: block;
	table-layout: fixed;
}
.cardone{
margin-top: 300px;
}


</style>
<script>
	$(document).ready(
			function() {
				// Add minus icon for collapse element which is open by default
				$(".collapse.show").each(
						function() {
							$(this).prev(".card-header").find(".fa").addClass(
									"fa-minus").removeClass("fa-plus");
						});

				// Toggle plus minus icon on show hide of collapse element
				$(".collapse").on(
						'show.bs.collapse',
						function() {
							$(this).prev(".card-header").find(".fa")
									.removeClass("fa-plus")
									.addClass("fa-minus");
						}).on(
						'hide.bs.collapse',
						function() {
							$(this).prev(".card-header").find(".fa")
									.removeClass("fa-minus")
									.addClass("fa-plus");
						});

			});
</script>
</head>
<body   style="backgroud-color:black;
	">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">COVID-19</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item "><a class="nav-link" href="#">Global
							Cases <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item "><a class="nav-link" href="#confirmed">Global
							Confirmed Cases <span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="#death">Global
							Death Cases</a></li>
					<li class="nav-item"><a class="nav-link" href="#recovered">Global
							Recovered Cases</a></li>

				</ul>
			</div>
		</nav>
		<div class="jumbotron text-center fixed-top"
			style="padding: 3%; margin-top: 60px; color: white !important; background-color: black !important;">

			<h1>Novel Corona Virus COVID-19 Live Tracker Web Application</h1>
			<h3>Global Cases (Worldwide)</h3>
		</div>
		<div class="card-deck mb-3 text-center cardone">
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Total Confirmed Cases</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title"
						th:text="${totalConfirmedReportedCases}" style="color: red;"></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>New cases reported since previous day</li>
						<h3 th:text="${totalConfirmedReportedNewCases}"
							style="color: red;"></h3>
					</ul>
					<ul class="list-unstyled mt-3 mb-4">
						<li style="color: red; font-size: bold;">Confirmed Cases by
							Country/Region</li>
					</ul>
					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table id="dtTotalConfirmedCase"
							class="table table-striped table-bordered table-sm table-hover">
							<thead>
								<tr>
									<th>Country</th>
									<th>Total Cases</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="confCases : ${confirmedCasesByCountry}">
									<td th:text="${confCases.country}"></td>
									<td th:text="${confCases.totalCases}">0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Total Deaths</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title"
						th:text="${totalDeathReportedCases}" style="color: orange;"></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>New cases reported since previous day</li>
						<h3 th:text="${totalDeathReportedNewCases}" style="color: orange;"></h3>
					</ul>
					<ul class="list-unstyled mt-3 mb-4">
						<li style="color: orange; font-size: bold;">Confirmed Cases
							by Country/Region</li>
					</ul>
					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table id="dtTotalDeathCase"
							class="table table-striped table-bordered table-sm table-hover">
							<thead>
								<tr>
									<th>Country</th>
									<th>Total Cases</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="confCases : ${deathCasesByCountry}">
									<td th:text="${confCases.country}"></td>
									<td th:text="${confCases.totalCases}">0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Total Recovered</h4>
				</div>
				<div class="card-body">
					<h1 class="card-title pricing-card-title"
						th:text="${totalRecoveredReportedCases}" style="color: green;"></h1>
					<ul class="list-unstyled mt-3 mb-4">
						<li>New cases reported since previous day</li>
						<h3 th:text="${totalRecoveredReportedNewCases}"
							style="color: green;"></h3>
					</ul>
					<ul class="list-unstyled mt-3 mb-4">
						<li style="color: green; font-size: bold;">Confirmed Cases
							by Country/Region</li>
					</ul>
					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table id="dtTotalRecoveredCase"
							class="table table-striped table-bordered table-sm table-hover">
							<thead>
								<tr>
									<th>Country</th>
									<th>Total Cases</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="confCases : ${recoveredCasesByCountry}">
									<td th:text="${confCases.country}"></td>
									<td th:text="${confCases.totalCases}">0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="bs-example">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button type="button" class="btn btn-link" data-toggle="collapse"
								data-target="#collapseOne">
								<i class="fa fa-plus"></i>Global COVID-19 Confirmed Cases
							</button>
						</h2>
					</div>
					<section id="confirmed">
						<!-- <div id="collapseOne" class="collapse show" -->
						<div id="collapseOne" class="collapse"
							aria-labelledby="headingOne" data-parent="#accordionExample">

							<div class="card-body">
								<h4>Coronavirus Total Confirmed Cases</h4>
								<div class="table-wrapper-scroll-y my-custom-scrollbar">
									<!-- <table class="table table-striped table-sm table-hover"> -->
									<table id="dtConfirmedCase"
										class="table table-striped table-bordered table-sm table-hover"
										cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Country/Region</th>
												<th>Province/State</th>
												<th>Total Reported</th>
												<th>Total Previous Day Changes</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="covidConfirmData : ${covidConfirmedListOfData}">
												<td th:text="${covidConfirmData.country}"></td>
												<td th:text="${covidConfirmData.state}"></td>
												<td th:text="${covidConfirmData.totalCases}">0</td>
												<td th:text="${covidConfirmData.diffFromPrevDay}">0</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</section>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button type="button" class="btn btn-link collapsed"
								data-toggle="collapse" data-target="#collapseTwo">
								<i class="fa fa-plus"></i> Global COVID-19 Death Cases
							</button>
						</h2>
					</div>
					<section id="death">
						<div id="collapseTwo" class="collapse"
							aria-labelledby="headingTwo" data-parent="#accordionExample">

							<div class="card-body">
								<h4>Coronavirus Total Death Cases</h4>
								<div class="table-wrapper-scroll-y my-custom-scrollbar">
									<table id="dtDeathCase"
										class="table table-striped table-bordered table-sm table-hover"
										cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Country/Region</th>
												<th>Province/State</th>
												<th>Total Reported</th>
												<th>Total Previous Day Changes</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="covidConfirmData : ${covidDeathListOfData}">
												<td th:text="${covidConfirmData.country}"></td>
												<td th:text="${covidConfirmData.state}"></td>
												<td th:text="${covidConfirmData.totalCases}">0</td>
												<td th:text="${covidConfirmData.diffFromPrevDay}">0</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</section>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button type="button" class="btn btn-link collapsed"
								data-toggle="collapse" data-target="#collapseThree">
								<i class="fa fa-plus"></i>Global COVID-19 Recovered Cases
							</button>
						</h2>
					</div>
					<section id="recovered">
						<div id="collapseThree" class="collapse"
							aria-labelledby="headingThree" data-parent="#accordionExample">

							<div class="card-body">
								<h4>Coronavirus Total Recovered Cases</h4>
								<div class="table-wrapper-scroll-y my-custom-scrollbar">
									<table id="dtRecoveredCase"
										class="table table-striped table-bordered table-sm table-hover"
										cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Country/Region</th>
												<th>Province/State</th>
												<th>Total Reported</th>
												<th>Total Previous Day Changes</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="covidConfirmData : ${covidRecoveredListOfData}">
												<td th:text="${covidConfirmData.country}"></td>
												<td th:text="${covidConfirmData.state}"></td>
												<td th:text="${covidConfirmData.totalCases}">0</td>
												<td th:text="${covidConfirmData.diffFromPrevDay}">0</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {

			$('#dtTotalConfirmedCase').DataTable({
				"searching" : false,
				"paging" : false,
				"order" : [ [ 1, "desc" ] ]
			});

			$('#dtTotalDeathCase').DataTable({
				"searching" : false,
				"paging" : false,
				"order" : [ [ 1, "desc" ] ]
			});

			$('#dtTotalRecoveredCase').DataTable({
				"searching" : false,
				"paging" : false,
				"order" : [ [ 1, "desc" ] ]
			});

			$('#dtConfirmedCase').DataTable({
				"paging" : false,
				"order" : [ [ 2, "desc" ] ]
			});

			$('#dtDeathCase').DataTable({
				"paging" : false,
				"order" : [ [ 2, "desc" ] ]
			});

			$('#dtRecoveredCase').DataTable({
				"paging" : false,
				"order" : [ [ 2, "desc" ] ]
			});

		});
	</script>
</body>
</html>
